.section {
    width: 100%;
    padding: 60px 0;
}

.section-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section.blue {
    background-color: #58b2ee;
    color: white;
}

.section.white {
    background-color: white;
    color: black;
}